<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDaoBean" class="zera.dao.UserDao"/>
    <bean id="vipDaoBean" class="zera.dao.VipDao"/>
    <bean id="customServiceBean" class="zera.service.CustomService">
        <constructor-arg index="0" ref="vipDaoBean"/>
        <constructor-arg index="1" ref="userDaoBean"/>
    </bean>


<!--    基本数据注入-->
    <bean class="zera.bean.User" id="user">
        <property name="id" value="145"/>
        <property name="name" value="jack"/>
    </bean>

    <bean class="zera.bean.YuQian" id="yuQian">
        <property name="hobbies">
            <array>
                <value>抽烟</value>
                <value>喝酒</value>
                <value>烫头</value>
            </array>
        </property>

        <property name="friends">
            <list>
                <value>1</value>
                <value>2</value>
                <value>2</value>
            </list>
        </property>

        <property name="subjects">
            <set>
                <value>123</value>
                <value>123</value>
            </set>
        </property>

        <property name="properties">
            <props>
                <prop key="driver">com.mysql.cj.jdbc.Driver</prop>
                <prop key="url">123123</prop>
            </props>
        </property>
    </bean>

    <bean class="zera.bean.MathBean" id="mathBean">
        <property name="result">
            <value><![CDATA[2 < 3]]></value>
        </property>
    </bean>

    <bean class="java.util.Date" id="date"/>
    <bean class="zera.bean.PersonPInjection" id="personPInjection" p:name="qwe" p:birth-ref="date"/>


</beans>